<nav class="navbar navbar-expand-lg bg-body-tertiary" "bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div class="emoji-circle">📚</div>
            
        </a>
        <p style="font-size: 26px;margin-top: auto;margin-bottom: auto;">Blogit!!</p>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <% if (locals.user) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <%= creator.fullName %>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog/add-new">Add Blog</a>
                    </li>
                    
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signup">Create Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signin">Signin</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<% if (locals.error) { %>
    <div class="container mt-4">
        <div class="alert alert-danger" role="alert">
            <%= locals.error %>
        </div>
    </div>
<% } %>

<style>
    .navbar-brand .emoji-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        margin-right: 10px;
    }
    .navbar-nav .nav-link {
        position: relative;
        padding: 0.5rem 1rem;
        transition: background-color 0.3s ease, box-shadow 0.3s ease;
        border: 2px solid transparent;
    }
    .navbar-nav .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 0 0 2px #fff;
    }
</style>